{% load wagtailembeds_tags %}

<div class="video-embed">
    {% if value.title %}
        <h2 class="video-embed__title heading heading--two">{{ value.title }}</h2>
    {% endif %}

    {% if value.description %}
        <p class="video-embed__description">{{ value.description }}</p>
    {% endif %}

    {% if is_youtube %}
        <div class="video-embed__container" data-youtube-embed>
            {# Placeholder #}
            <div class="video-embed__placeholder" data-youtube-placeholder-container>
                <img class="video-embed__thumbnail" src="{{ thumbnail_url }}" alt="Video thumbnail">

                <div class="video-embed__consent">
                    <p class="video-embed__consent-text">This content is hosted by a third party. By showing the external content you accept the <a href="https://www.youtube.com/t/terms" target="_blank" rel="noopener noreferrer">terms and conditions</a> of YouTube.</p>
                    <div class="video-embed__consent-actions">
                        <button type="button" class="button button--primary video-embed__accept-button" data-youtube-consent-button>I accept</button>
                        <div class="video-embed__checkbox-wrapper">
                            <input type="checkbox" id="youtube-consent-checkbox-{{ value.embed.url|slugify }}" class="video-embed__checkbox" data-youtube-save-prefs>
                            <label for="youtube-consent-checkbox-{{ value.embed.url|slugify }}" class="video-embed__checkbox-label">Don't ask me again</label>
                        </div>
                    </div>
                </div>
            </div>

            {# Embed itself - hidden by default until consent is given #}
            <div class="video-embed__embed-container hidden" data-youtube-embed-container>
                {% embed value.embed.url %}
            </div>
        </div>
    {% else %}
        <div class="video-embed__container">
            <div class="video-embed__generic-embed">
                {% embed value.embed.url %}
            </div>
        </div>
    {% endif %}
</div>
