@use 'config' as *;

.breadcrumb {
    background-color: var(--theme-primary);
    border-bottom: 1px solid var(--theme-border);
    padding: $grid-s 0;

    &__list {
        display: flex;
        flex-direction: row;
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--theme-text-invert);
        margin: 0 5px 0 0;

        // On small and medium breakpoints, only show the parent section
        &:not(:nth-last-child(2)) {
            display: none;

            @include media-query(large) {
                display: list-item;
            }
        }
    }

    &__icon {
        width: 1.25em;
        height: 1.25em;
        fill: currentcolor;
        vertical-align: middle;
        margin-right: 0.25em;

        @include media-query(large) {
            display: none;
        }
    }

    &__separator {
        display: none;

        @include media-query(large) {
            display: inline;
        }
    }

    &__link {
        color: var(--theme-link-invert);
        text-decoration: underline;

        &:link {
            color: var(--theme-link-invert);
        }

        &:visited {
            color: var(--theme-link-invert);
        }

        &:hover,
        &:active {
            color: var(--theme-link-invert-hover);
        }

        &:focus {
            color: var(--theme-link-invert-focus);
        }
    }
}
