@use 'config' as *;

.button {
    background-color: transparent;
    background-image: none;
    border: 0;
    box-shadow: none;
    transition: background-color $transition;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: $focus-width solid $focus-bg;

        &:not(:active):not(:hover) {
            border-color: $focus-bg;
            background-color: $focus-bg;
            color: $focus-color;
        }
    }

    &--primary {
        background-color: var(--theme-button-background);
        color: var(--theme-button-text);
        padding: $grid-xs $grid-s;

        &:hover,
        &:focus,
        &:visited {
            background-color: var(--theme-button-hover);
            color: var(--theme-button-text);
        }
    }
}
