@use 'config' as *;

.button {
    background-color: transparent;
    background-image: none;
    border: 0;
    box-shadow: none;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: $focus-width solid $focus-bg;

        &:not(:active):not(:hover) {
            border-color: $focus-bg;
            background-color: $focus-bg;
            color: $focus-color;
        }
    }
}
