@use 'config' as *;

.call-to-action {
    background-color: var(--color-pastel-pink);
    border-left: 4px solid var(--color-maroon);

    &__content {
        padding: $grid-s $grid-m $grid-m;

        @include media-query(large) {
            padding: $grid-m $grid-l $grid-l;
        }
    }

    &__title {
        margin: 0 0 $grid-xs;
    }

    &__summary {
        margin-bottom: $grid-s;
        color: var(--theme-text-80);
        p {
            margin: 0;
        }
    }

    &__image {
        margin-bottom: $grid-s;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
