@use 'config' as *;
@use 'sass:color';

.card {
    $root: &;
    padding: $grid-s;
    border-top: 5px solid var(--theme-primary);
    background-color: var(--theme-primary-background);

    &--clickable {
        position: relative;

        #{$root}__link {
            &::before {
                content: '';
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
            }
        }
    }

    &--recently-archived {
        border-left: 1px solid var(--theme-border);
        border-right: 1px solid var(--theme-border);
        border-bottom: 1px solid var(--theme-border);
    }

    &__link {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    &__category {
        display: block;
        font-family: $font--tertiary;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: var(--theme-primary);
        margin-bottom: $grid-xs;
    }

    &__heading {
        font-family: $font--tertiary;
        font-weight: $weight--bold;
        margin-bottom: $grid-xs;
        text-decoration: underline;
    }

    &__summary {
        margin: 0;
        color: var(--theme-text-meta);
    }

    &__source {
        margin: $grid-xs 0 0;
        color: var(--theme-text-meta);
        font-family: $font--tertiary;
    }
}
