@use 'config' as *;
@use 'sass:color';

.card {
    padding: 20px;
    // Extra border for high-contrast mode users.
    border: 1px solid transparent;
    transition: background-color $transition;
}

.card-with-image {
    &:only-child {
        max-width: 260px;
    }
}
