@use 'config' as *;

.sf {
    $root: &;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    &__block {
        margin-bottom: $grid-s;
        grid-column: span 8;

        @include media-query(large) {
            margin-bottom: $grid-m;
            grid-column: 2 / span 6;
        }

        // Smaller margin
        &--heading {
            margin-bottom: $grid-xs;
        }

        // Full width blocks
        &--image,
        &--embed,
        &--table,
        &--quote {
            @include media-query(large) {
                grid-column: 1 / -1;
            }
        }
    }
}
