@use 'config' as *;

// This is identical to typed-table.scss, but due to the limitations of the kit
// features we need to duplicate it
// If you have both table and typed-tables in your codebase, you can
// rationalise these to a single file

.table {
    @include font-size(heading-five) {
        border-collapse: collapse;
        width: 100%;
        min-width: 600px;
    }

    &__caption {
        @include font-size(heading-three) {
            font-weight: $weight--bold;
            margin-bottom: $grid;
        }
    }

    &__cell {
        padding: $grid;
        text-align: left;
    }
}

.table-wrapper {
    width: 100%;
    overflow-x: scroll;
    position: relative;

    &__hint {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) -50%,
            var(--color-background-primary) 100%
        );
        opacity: 1;
        transition: opacity 0.25s ease;
        width: 300px;

        .is-scrolling & {
            opacity: 0;
        }

        @include media-query(medium) {
            display: none;
        }

        // hide hint in high contrast mode as the gradient
        // is not visible
        @include high-contrast-mode() {
            display: none;
        }

        // hide hint if js is disabled
        @media (scripting: none) {
            display: none;
        }

        @include reduced-motion() {
            transition: none;
        }
    }

    // Button to scroll right
    &__button {
        @include media-query(medium) {
            display: none;
        }
    }
}
