@use 'config' as *;

.u-layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-left: $grid;
    padding-right: $grid;
    column-gap: $grid-xs;

    @include media-query(large) {
        max-width: $site-width;
        column-gap: $grid-s;
        padding-left: $grid-l;
        padding-right: $grid-l;
        margin-left: auto;
        margin-right: auto;
    }

    &__primary-col,
    &__secondary-col {
        margin-bottom: $grid-m;
        @include media-query(large) {
            margin-bottom: $grid-l;
        }
    }
}
