@use 'config' as *;

// Uses https://design-system.nationalarchives.gov.uk/components/header/ as a base, these are just subtle overrides

.header {
    background-color: var(--global-header-background);
}
