{% load static wagtailcore_tags navigation_tags %}

<header class="header tna-header" data-module="tna-header">
  <div class="tna-container tna-header__contents">
    <div class="tna-column tna-header__logo-wrapper">
        <a href="/" class="tna-header__logo tna-header__logo--link" title="The National Archives - Design System" aria-label="The National Archives - UK Government Web Archive">
            <span class="tna-logo tna-logo--adornable">
                {% include "components/icons/icon.html" with name="logo" viewbox="0 0 160 160" %}
            </span>
            <span class="tna-header__logo-strapline">UK Government Web Archive</span>
          </a>
    </div>
    <div class="tna-column tna-header__navigation-button-wrapper">
      <button class="tna-header__navigation-button" type="button" aria-controls="tna-header__navigation" hidden>
        Menu
        <span class="tna-header__hamburger"></span>
      </button>
    </div>
    <nav class="tna-column tna-column--flex-1 tna-column--full-small tna-column--full-tiny tna-header__navigation tna-header__navigation--open" id="tna-header__navigation" aria-label="Primary" aria-hidden="false">
        {% primary_nav %}
        {% secondary_nav %}
      </nav>
  </div>
</header>
