{% load wagtailcore_tags %}
<div class="tna-container">
    <h3 class="tna-!--visually-hidden">
      Legal information
    </h3>
    <nav class="tna-footer__legal tna-column tna-column--full" aria-label="Legal">
        <ul class="tna-footer__legal-items tna-ul tna-ul--plain">
            {% for link in footer_links %}
                <li class="tna-footer__legal-item">
                    <a href="{{ link.value.url }}" class="tna-footer__legal-item-link">
                        {{ link.value.title|default:link.value.page.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
      <hr>
    </nav>
</div>
