{% load wagtailcore_tags %}
<nav class="tna-footer__navigation-block tna-columns__block" {% if value.heading %}aria-label="{{ value.heading }}"{% endif %}>
    {% if value.heading %}
    <h3 class="tna-footer__navigation-block-heading tna-heading-m">
        {{ value.heading }}
    </h3>
    {% endif %}
    <ul class="tna-footer__navigation-block-items tna-ul tna-ul--plain">
        {% for item in value.links %}
            <li class="tna-footer__navigation-block-item">
                <a href="{{ item.url }}" class="tna-footer__navigation-block-item-link">
                    {{ item.title|default:item.page.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
