{% load wagtailcore_tags %}
<div class="tna-container">
    <h3 class="tna-!--visually-hidden">
        Legal information
    </h3>
    <nav class="tna-footer__legal tna-column tna-column--full" aria-label="Legal">
        <ul class="tna-footer__legal-items tna-ul tna-ul--plain">
            {% for item in footer_links %}
                <li class="tna-footer__legal-item">
                    {% with link=item.value %}
                        <a
                            href="{% if link.page %}{% pageurl link.page %}{% elif link.external_link %}{{ link.external_link }}{% endif %}"
                            class="tna-footer__legal-item-link"
                        >
                            {{ link.text }}
                        </a>
                    {% endwith %}
                </li>
            {% endfor %}
        </ul>
        <hr>
    </nav>
</div>
