{% load wagtailcore_tags %}

<ul class="tna-header__navigation-items">
    {% for link in primary_nav %}
        {% with nav_page=link.value.page %}
            <li class="tna-header__navigation-item">
                {% pageurl nav_page as item_url %}
                {% if nav_page.pk == current_page.pk or nav_page.pk in ancestor_ids %}
                    <a class="tna-header__navigation-item-link tna-header__navigation-item-link--active" tabindex="0" href="{{ item_url }}" aria-current="true">
                        {{ link.value.title|default:nav_page.title }}
                    </a>
                {% else %}
                    <a class="tna-header__navigation-item-link" tabindex="0" href="{{ item_url }}">
                        {{ link.value.title|default:nav_page.title }}
                    </a>
                {% endif %}
            </li>
        {% endwith %}
    {% endfor %}
</ul>
