{% load wagtailcore_tags %}

<ul class="tna-header__navigation-items">
    {% for link in primary_nav %}
        {% with children=link.value.page.get_children.live.public.in_menu %}
            <li
                class="tna-header__navigation-item"
            >
                {% pageurl link.value.page as item_url %}
                <a class="tna-header__navigation-item-link" tabindex="0" href="{{ item_url }}">
                    {{ link.value.title|default:link.value.page.title }}
                </a>
            </li>
        {% endwith %}
    {% endfor %}
</ul>
