{% load wagtailcore_tags %}
<ul class="tna-header__top-navigation-items">
    <li class="tna-header__top-navigation-item">
        <a href="https://www.nationalarchives.gov.uk/" class="tna-header__top-navigation-item-link header__secondary-link" tabindex="0">
            {% include "components/icons/icon.html" with name="back-arrow" classname="secondary-nav__icon" viewbox="0 0 24 24" %}
            <span class="secondary-nav__link-text"><span class="hidden lg:inline">Back to</span> The National Archives</span>
        </a>
    </li>
    {% for link in secondary_nav %}
        <li class="tna-header__top-navigation-item">
            {% pageurl link.value.page as item_url %}
            <a href="{{ item_url }}" class="tna-header__top-navigation-item-link header__secondary-link" tabindex="0">
                <span class="secondary-nav__link-text">{{ link.value.title|default:link.value.page.title }}</span>
            </a>
        </li>
    {% endfor %}
    <li class="tna-header__top-navigation-item">
        <a href="/search/" class="tna-header__top-navigation-item-link header__secondary-link" tabindex="0">
            {% include "components/icons/icon.html" with name="search" classname="secondary-nav__icon" viewbox="0 0 24 24" %}
            <span class="secondary-nav__link-text"> Search</span>
        </a>
    </li>
</ul>
