{% load wagtailcore_tags %}

<div class="sidebar">
    <div class="sidebar__inner">
        {% if siblings %}
            <nav class="sidebar__nav">
                <h2 class="heading heading--two sidebar__heading">Also in {{ parent.title }}</h2>
                <ul class="sidebar__list">
                    {% for sibling in siblings %}
                        <li class="sidebar__item" {% if sibling.pk == current_page.pk or sibling.pk in ancestor_ids %}aria-current="page"{% endif %}>
                            <a class="sidebar__link {% if sibling.pk == current_page.pk or sibling.pk in ancestor_ids %}sidebar__link--active{% endif %}" href="{% pageurl sibling %}">{{ sibling.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </div>
</div>
