{% load wagtailcore_tags wagtailimages_tags %}

{% if call_to_action %}
    <div class="call-to-action">
        <div class="call-to-action__content">
            <h2 class="call-to-action__title heading heading--two">{{ call_to_action.title }}</h2>

            <div class="call-to-action__summary">
                {{ call_to_action.summary|richtext }}
            </div>

            {% if call_to_action.image %}
                <div class="call-to-action__image">
                    {% image call_to_action.image fill-450x300 %}
                </div>
            {% endif %}

            <a href="{{ call_to_action.get_link_url }}" class="button button--primary call-to-action__button">{{ call_to_action.get_link_text }}</a>
        </div>
    </div>
{% endif %}
