{% extends "base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block content %}
    {% include "components/page_header/page_header.html" with title=page.title introduction=page.introduction show_introduction=True modifier="flush" %}

    {% include "components/featured_search/featured_search.html" with heading=page.search_heading button_text=page.search_button_text help_text=page.search_help_text modifier="secondary" %}

    {% if subpages %}
        <section class="card-listing">
            <ul class="card-listing__grid u-layout">
                {% if subpages.object_list.exists %}
                    {% for subpage in subpages.object_list.specific %}
                        {% pageurl subpage as subpage_url %}
                        {% firstof subpage.listing_title subpage.title as card_title %}
                        {% firstof subpage.listing_summary subpage.introduction as card_summary %}
                        {% include "components/card/card.html" with title=card_title url=subpage_url summary=card_summary modifier="listing" clickable=True grid_classes="col-span-12 md:col-span-6" %}
                    {% endfor %}
                {% endif %}
            </ul>
        </section>

        {% include "components/pagination/pagination.html" with paginator_page=subpages %}
    {% endif %}
{% endblock %}
