{% extends "base_page.html" %}
{% load wagtailcore_tags navigation_tags reading_time_tags static %}

{% block content %}

    <div class="layout{% if page.get_children.live %} layout--sidebar{% endif %}">

        <div class="content">
            {% block breadcrumbs %}
                {% include "components/navigation/breadcrumbs.html" %}
            {% endblock %}

            <h1>{{ page.title }}</h1>
            {% get_reading_time_minutes page 'body' as reading_time_minutes %}
            {{ reading_time_minutes }} minute read
            {% if page.introduction %}
                <p>{{ page.introduction }}</p>
            {% endif %}

            {% include_block page.body %}
            {% include "components/share/share.html" %}

        </div>

        {% sidebar %}

    </div>

    {% include "components/highlighted_links/highlighted_links.html" with heading=page.highlighted_links_heading highlighted_links=page.highlighted_links %}

{% endblock %}
