{% extends "base_page.html" %}
{% load wagtailcore_tags navigation_tags reading_time_tags static %}

{% block content %}

    <div class="page">
        {% block breadcrumbs %}
            {% include "components/navigation/breadcrumbs.html" %}
        {% endblock %}

        {% include "components/page_header/page_header.html" %}

        <div class="u-layout">

            <div class="u-layout__primary-col col-span-full md:col-span-8">

                {% if page.introduction %}
                    <div class="introduction">
                        <p>{{ page.introduction }}</p>
                    </div>
                {% endif %}

                <div class="sf">
                    {% include_block page.body %}
                </div>

            </div>

            <div class="u-layout__secondary-col col-span-full md:col-span-4">
                {% sidebar %}
            </div>
        </div>
    </div>

    {% include "components/related_content/related_content.html" with related_pages=page.related_pages %}

{% endblock %}
