{% load wagtailcore_tags wagtailimages_tags %}

{% if related_pages %}
    <div class="related-content">
        <div class="related-content__container u-layout">
            <h2 class="related-content__heading heading heading--two col-span-12" id="related-content-heading">Also of interest</h2>
            <section class="related-content__list col-span-12" aria-labelledby="related-content-heading">
                {% if related_pages %}
                    {% for item in related_pages %}
                        {% pageurl item as item_url %}
                        <div class="card card--clickable col-span-3 md:col-span-1">
                            <a class="card__link" href="{{ item_url }}">
                                <h3 class="card__heading heading heading--four">{% firstof item.listing_title item.title %}</h3>
                            </a>
                            {% if item.listing_summary or item.introduction %}
                                <p class="card__summary supporting">{% firstof item.listing_summary item.introduction %}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </section>
        </div>
    </div>
{% endif %}
