{% extends "base_page.html" %}
{% load wagtailcore_tags wagtailsettings_tags %}

{% block title %}{{ settings.core.SystemMessagesSettings.title_404 }}{% endblock %}

{% block body_class %}template-error{% endblock %}

{% block content %}

    <div class="page">
        {% include "components/page_header/page_header.html" with title=settings.core.SystemMessagesSettings.title_404 %}

        <div class="u-layout">

            <div class="u-layout__primary-col col-span-full md:col-span-8 rich-text">
                {{ settings.core.SystemMessagesSettings.body_404|richtext }}
            </div>

        </div>
    </div>

{% endblock %}
