{% load wagtailcore_tags %}

<section class="featured-search" aria-labelledby="featured-search-heading">
    <div class="featured-search__container u-layout">
        <div class="featured-search__content col-span-full">
            <h2 id="featured-search-heading" class="featured-search__heading heading heading--two">{{ heading|default:"Find archived government websites and documents" }}</h2>
            <form class="featured-search__form" role="search" aria-labelledby="featured-search-heading" action="https://webarchive.nationalarchives.gov.uk/search/result" method="get">
                <label for="featured-search-input" class="sr-only">Enter search term</label>
                <fieldset class="featured-search__options">
                    <legend class="sr-only">Search type</legend>
                    <label class="featured-search__radio">
                        <input type="radio" name="search_type" value="keyword" checked />
                        Keyword search
                    </label>
                    <label class="featured-search__radio">
                        <input type="radio" name="search_type" value="url" />
                        Search by Website URL
                    </label>
                </fieldset>
                <div class="featured-search__input-container">
                    <input
                        type="search"
                        id="featured-search-input"
                        name="q"
                        class="featured-search__input"
                        {% if help_text %}aria-describedby="featured-search-help"{% endif %}
                    />

                    <button type="submit" class="featured-search__button button button--primary">
                        {{ button_text|default:"Search" }}
                    </button>
                </div>
            </form>
            {% if help_text %}
                <p id="featured-search-help" class="featured-search__help supporting">{{ help_text }}</p>
            {% endif %}
        </div>
    </div>
</section>

